{% extends 'base.html.twig' %}

{% set current = 'projects' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ details.project.name }} <span class="small">Details</span></h2>
                <div class="project-item-details m-t-15 m-b-30 col-md-12">

                    <!-- Left column -->
                    <div class="col-md-5">
                        <div class="app-form-row col-md-12">
                            <span class="app-form-label">Identifier:</span> {{ details.project.identifier }}
                        </div>
                        <div class="app-form-row col-md-12">
                            <span class="app-form-label">Description:</span>
                            <div class="issue-description m-t-5">
                                {{ details.project.description }}
                            </div>
                        </div>
                        <div class="app-form-row col-md-12">
                            <span class="app-form-label">Created:</span> {{ details.project.created_on|date('d-m-Y H:i:s') }}
                        </div>
                        <div class="app-form-row col-md-12">
                            <span class="app-form-label">Modified:</span> {{ details.project.updated_on|date('d-m-Y H:i:s') }}
                        </div>
                    </div>
                    <!-- /Left column -->

                    <!-- Right column -->
                    <div class="col-md-7">
                        <div class="app-form-row col-md-12">
                            <span class="app-form-label">Issue tracking:</span>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if issues == false %}
                                        <tr><td colspan="4" class="empty-table-message">No data to display</td></tr>
                                    {% else %}
                                        {% for issue in issues %}
                                        <tr>
                                            <td>
                                                {{ issue.subject }}
                                            </td>
                                            <td>
                                                {{ issue.priority.name }}
                                            </td>
                                            <td>
                                                {{ issue.status.name }}
                                            </td>
                                            <td>
                                                <a href="{{ path('issue_details', {'issueId': issue.id}) }}">Manage</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /Right column -->

                    <!-- Full width column -->
                    <div class="col-md-12 m-t-20">
                        <!-- Comments -->
                        <div class="col-md-12">
                            <span class="app-form-label">Comments:</span>
                            <span class="pull-right">
                                <a href="{{ path('comments', {'projectId': details.project.id}) }}">View All</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{{ path('comment_create', {'projectId': details.project.id}) }}">Add New</a>
                            </span>
                            <div id="project-comments" class="m-t-15">
                                {% if comments is defined %}
                                    {% if comments is empty %}
                                        <div>No data to display</div>
                                    {% else %}
                                        {% for comment in comments %}
                                            <div class="project-comment-item">
                                                <div class="m-t-5"><span class="caption">Author:</span><span class="author">{{ comment.author }}</span></div>
                                                <div class="m-t-5"><span class="caption">Created:</span><span class="created-at">{{ comment.createdAt|date('d-m-Y H:i:s') }}</span></div>
                                                <div class="project-comment-text m-t-5">
                                                    <i>{{ comment.content }}</i>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- /Comments -->
                    </div>
                    <!-- /Full width column -->

                </div>
            </div>
        </div>
    </div>

{% endblock %}